/* Chnage background colour of all web pages */
body {
    background-color: white;
}

/*----------- MAIN HEADINGS ----------------*/
#mainHeading {
    font-family: "Chalkduster", fantasy;
    color: white;
    text-align: center;
    background-color: rosybrown;
    background-size: 500px;
    padding: 20px;
}

header {
    background-color: whitesmoke;
    height: 140px;
}

#description {
    font-size: 20px;
    font-family: "Chalkduster", fantasy;
    color: rosybrown;
    text-align: center;
    font-stretch: ultra-condensed;
}

/*----------- NAVIGATION BAR ----------------*/
/* Add white background to the top navigation*/
.mainNavigation {
    background-color: white;
    padding-top: 13px;
    margin: 0px;
}

.navBar {
    padding: 0px 0px;
    margin: 0px;
}

.navBar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

/* Change the color of links on hover */
.navBar a:hover {
    background-color: rosybrown;
    color: white;
}

/* Add an active class to highlight the current page */
.navBar a.active {
    background-color: rosybrown;
    color: white;
}

.navBar li {
    float: left;
    list-style: none;
    position: relative;
    display: inline;
    border-right: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.mainNavigation .search-container {
    float: right;
}

/* Style the search box inside the navigation bar */
.mainNavigation input[type=text] {
    padding: 3px 5px;
    border: 1px solid gainsboro;
    margin-top: 1px;
    margin-right: 0px;
    font-size: 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 5px;
}

/*Style the search button*/
.mainNavigation .search-container button {
    float: right;
    padding: 3px 10px;
    margin-top: 1px;
    margin-right: 10px;
    background: gainsboro;
    font-size: 17px;
    border: 1px solid gainsboro;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
}

.mainNavigation .search-container button:hover {
    background: darkseagreen;
    color: white;
}

.mainNavigation .loginRegister-container {
    float: right;
    padding: 1px 5px;
    margin-top: 0px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}

.mainNavigation .loginRegister-container .register:hover {
    color: darkseagreen;
}

.mainNavigation .loginRegister-container .login:hover {
    color: darkseagreen;
}

.mainNavigation .loginRegister-container .register {
    float: right;
    margin-right: 10px;
    padding-left: 5px;
    border-left: 2px solid gainsboro;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-top: 2px;
    text-decoration: none;
    color: black;
}

.mainNavigation .loginRegister-container .login {
    float: right;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 5px;
    border-left: 2px solid gainsboro;
    border-top: none;
    border-right: none;
    border-bottom: none;
    text-decoration: none;
    color: black;
}

.mainNavigation button:hover {
    color: darkseagreen;
}

.mainNavigation .cart-container button {
    float: right;
    padding: 0 6px;
    margin-top: 0px;
    margin-right: 5px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-left: 2px solid gainsboro;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.cart-container .notificationBadge {
    position: absolute;
    top: 140px;
    right: 0px;
    padding: 3px 10px;
    border-radius: 50%;
    background-color: darkseagreen;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/*----------- STYLE BUTTONS ON ALL HTML PAGES ----------------*/
/*used Bootstrap .btn class to style all buttons.*/
.btn {
    border: 2px solid white;
    font-family: Verdana;
    background: darkseagreen;
    color: white;
}

/*Created a hover for buttons.*/
.btn:hover {
    background-color: white;
    border-color: darkseagreen;
    color: darkseagreen;
    box-shadow: none;
}

/*----------- STYLE IMAGE THUMBNAIL ----------------*/
.img-thumbnail {
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px gainsboro;
    height: 220px;
    width: 90%;
    object-fit: contain;
    margin-left: 20px;
}

.img-thumbnail:hover {
    opacity: 0.5;
}

/*----------- HOMEPAGE ----------------*/
.buttonCarousel {
    background: rosybrown;
}

.buttonCarousel:hover {
    background-color: white;
    border-color: rosybrown;
    color: rosybrown;
}

/* filter style to change the colour of the image */
.carousel img {
    max-height: 550px;
    margin: auto;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    filter: contrast(90%);
}

#winterCollectionImage {
    float: left;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid lightgrey;
    width: 450px;
    height: 450px;
    object-fit: cover;
    filter: contrast(90%);
}

/* Add overflow to keep the float element within the container */
.clearfix {
    overflow: auto
}

#winterCollectionH {
    text-align: center;
    padding-left: 50px;
    padding-top: 100px;
    padding-right: 50px;
    font-size: 35px;
}

.winterCollectionP {
    text-align: center;
    font-size: 17px;
    margin-left: 30px;
    position: relative;
}

/*----------- ABOUT US ----------------*/
#AboutUsHeading {
    text-align: center;
    color: darkseagreen;
    padding-top: 10px;
    padding-bottom: 10px;
}

#AboutUsImage {
    width: 500px;
    height: 500px;
    float: left;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-left: 30px;
    margin-right: 10px;
}

#Shoppingfor {
    font-weight: bold;
}

/*----------- LOGIN AND REGISTER ----------------*/
#Login {
    color: darkseagreen;
    padding-top: 10px;
}

#Register {
    color: darkseagreen;
    padding-top: 10px;
}

.RegisterForm {
    margin-left: 5px;
}

.LoginForm {
    margin-left: 5px;
}

/*----------- SHOP HTML ----------------*/
.imgCard {
    box-shadow: 0 4px 8px 0 gainsboro;
    background-color: white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

/*Rounded the image thumbnails by using border-radius.
Used box-shadow to add a shadow to the image and used the colour gainsboro.
Resized the images to have equal height size and used object-fit to scale the images to maintain the aspect ratio to fit into the height and width.*/
.ShopImage {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding-bottom: 20px;
    object-fit: cover;
}

.ShopImage:hover {
    opacity: 0.9;
}

.imageDescription {
    font-size: 20px;
}

.Price {
    font-size: 20px;
    color: grey;
}

.availableColours {
    color: silver;
    font-size: 15px;
    font-style: italic;
}

.quickAddToCartStyling {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: darkseagreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.quickAddToCartStyling:hover {
    opacity: 0.7;
}

/* Swal alert when add to cart button is clicked and confirm order. */
.swal-overlay {
    background-color: grey(43, 165, 137, 0.45);
}

.swal-modal {
    border: 5px solid gainsboro;
}

.swal-text {
    background-color: gainsboro;
    padding: 15px;
    display: block;
    margin: 22px;
    text-align: center;
}

.swal-button {
    background-color: darkseagreen;
    border: 1px solid #c0c0c0;
    border-radius: 1px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/*----------- IMAGE MORE DETAILS HTML ----------------*/
#myImg {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback colour */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black with opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Animation used to zoom the image when clicked, a keyframe used to animate image. */
@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on smaller screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* customise list to have circle bullets */
.productDetailsList p {
    padding: 0px;
    margin: 0px;
}

/*------------------ SHOPPING CART------------------*/
.products-container {
    max-width: 850px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container i {
    font-size: 25px;
    color: darkseagreen;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 850px;
    display: flex;
    border-bottom: 4px solid gainsboro;
    margin: 0 auto;
    justify-content: flex-start;
}

.product-tile {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 20%;
    display: flex;
    align-items: center;
}

.total {
    width: 15%;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid gainsboro;

}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.products img {
    width: 75px;
    padding-right: 5px;
}

.products .price {
    border-bottom: 1px solid gainsboro;
}

.products .quantity {
    border-bottom: 1px solid gainsboro;
}

.products .total {
    border-bottom: 1px solid gainsboro;
}

.discountForm label {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.coupon {
    border-radius: 10px;
}

.btn-apply {
    font-size: 15px;
    border-color: darkseagreen;
}

.container {
    margin-left: 0px;
    padding-left: 0px;
}

.devTitle {
    padding-left: 30px;
}

.btn-submitDelivery {
    margin-top: 10px;
}

.reveal-if-active {
    display: none;
    padding-left: 50px;
    padding-top: 10px;
}

.totalContainer {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 35%;
    position: relative;
    left: 520px;
    bottom: 200px;
}

.basketSubtotalTotal,
.totalVAT,
.discountTotal,
.basketTotal,
.deliveryTotal {
    border-bottom: 1px solid gainsboro;
    padding: 10px 10px;
    text-align: right;
}

.orderSummaryTitle,
.basketSubtotalTitle,
.totalVATTitle,
.discountTitle,
.basketTotalTitle,
.deliveryTitle {
    border-bottom: 1px solid gainsboro;
    padding: 10px 10px;
    text-align: left;
}

#confirmOrder {
    width: 35%;
    height: 50%;
    position: relative;
    top: 130px;
    left: 220px;
    background-color: darkkhaki;
}

#confirmOrder:hover {
    background-color: white;
    border-color: darkkhaki;
    color: darkkhaki;
    box-shadow: none;
}

/*------------------ SUBSCRIBE FORM------------------*/
/* The animation code */
@keyframes BackgroundColour {
    from {
        background-color: rosybrown;
    }

    to {
        background-color: cadetblue;
    }
}

.SubcsribeForm {
    text-align: center;
    background-color: rosybrown;
    color: whitesmoke;
    padding: 5px;
    animation-name: BackgroundColour;
    animation-duration: 10s;
    animation-iteration-count: 5;
}

footer {
    font-size: 15px;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}